<div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog" style="max-width: 800px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">{{title}}</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                {{form_start(form, {'attr': {'id':'_modal'}})}}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                {{ form_label(form.notifications) }}

                <div class="notification-selection-list-group">
                    {{ form_widget(form.notifications) }}
                </div>

                {{form_widget(form)}}
                <button type="submit" id="assign-notifications-submit" class="btn btn-primary show-loading-block" disabled>Assign</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>